!Build/
.last_cover_stats
App-Spoor/App-Spoor*
App-Spoor/META.yml
App-Spoor/META.json
App-Spoor/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
App-Spoor/blib/
/_eumm/
/*.gz
App-Spoor/Makefile
App-Spoor/Makefile.old
App-Spoor/MANIFEST
App-Spoor/MANIFEST.bak
App-Spoor/*.tar.gz
/pm_to_blib
/*.zip
